/*################# HEADER ####################*/
.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /*box-shadow: 2px 2px 30px 2px black;*/
}

.container-logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo h1 {
    text-align: center;
    cursor: pointer;
    /*color: var(--primary-color);*/
}

.navbar {
    height: 100%;
    flex: 1;
}

.container-profile {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}